@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Prompt", sans-serif;
}

#varejo{
    color: white;
}


body{
    background-color: black
}
header{
    background-color: black;
}
body{
    background-color: black ;
}
main{
    background-color: black;
}
.Logo{
    width: 20%;
    margin: 0 0 0 700px;
    display: inline-flex;
    margin-top: 5%;
    font-family: "Oswald", sans-serif;
}
nav{
    position: absolute;
    top: 14px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 2px;
    margin-right: 120px;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color: white;
}
.primeiro{
    display: flex; 
    margin: 0 0 0 230px;
    gap: 100px;
    margin-top: 50px;
    border: 10px solid;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
}
.segundo{
    display: flex; 
    margin: 0 0 0 230px;
    gap: 100px;
    margin-top: 50px;
    border: 10px solid;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
}
.terceiro{
    display: flex; 
    margin: 0 0 0 230px;
    gap: 100px;
    margin-top: 50px;
    border: 10px solid;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
}
.quarto{
    display: flex; 
    margin: 0 0 0 230px;
    gap: 100px;
    margin-top: 50px;
    border: 10px solid;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
}
.quinto{
    display: flex; 
    margin: 0 0 0 230px;
    gap: 100px;
    margin-top: 50px;
    border: 10px solid;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
}
.sexto{
    display: flex; 
    margin: 0 0 0 230px;
    gap: 100px;
    margin-top: 50px;
    border: 10px solid;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    text-align: center;
}
.produto-descrição{
    color: azure;
}
.preco{
    color: azure;
}
h2{
    color: azure;
}
